.chat {
	width: 80vw;
	height: 70vh;
	margin-top: 5vh;
	margin-left: 10vw;
	margin-bottom: 5vh;
	margin-right: 10vw;
	border: 2px solid red;
	border-radius: 10px;
	overflow: auto;
	
}

.meu{
	color: red;
	border: 2px solid red;
	border-radius: 5px;
}

#enviar{
	margin-left: 10vw;
	margin-right: 10vw;
	border: 2px solid black;
	border-radius: 5px;
}

#msg{
	width: 79.8vw;
	border-bottom: solid black;
}

#btnEnviar{
	background-color: green;
	border-radius: 5px;
}

#barra{
	background-color: red;
}

#titulo{
	background-color: red;
	color: white;
	text-align: center;
}

#sair{
	color: white;
	margin-left: 95%;
}