.chat {
	width: 80vw;
	height: 70vh;
	margin-top: 5vh;
	margin-left: 10vw;
	margin-bottom: 5vh;
	margin-right: 10vw;
	border: 2px solid red;
	border-radius: 10px;
	overflow: auto;
}

.meu{
	color: purple;
	border: 2px solid darkred;
	border-radius: 5px;
}
