body{
    border: 0;
}

#corpo{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#ffffff, #FF0000, #FF0000);
}

#colUm{
    height: 25vh;
}

#dTitulo{
    text-align: center;
}

#lblEntrar{
    font-weight: bold;
    font-size: small;
}

#cNome{
    background-color: white;
    border-radius: 20px;
    border: 1px solid red;

}

#dBtn{
    text-align: center;
}

#btnEntrar{
    margin-top: 2%;
    margin-bottom: 1%;
}