body{
    border: 0;
}

#corpo{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#ffffff, #ffffff,	#FA8072,#FF0000, #FF0000);
}

#dTitulo{
    text-align: center;
}

#cNome{
    border: 5px double darkblue;

}